<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectString" value="Server=localhost; database=styleholic; UID=root; password=dubu8790"></add>
    <add key="DefaultURL" value="http://vendoradmin.fashiongo.net/Login.aspx?ReturnUrl=%2f"></add>
    <add key="OrderInfoDIV" value="ctl00_ctl00_ContentPlaceHolder1_cphBody_orderGeneralDetail_updPnlODG"></add>
    <add key="OrderNumberDIV" value="ctl00_ctl00_ContentPlaceHolder1_cphBody_Order_updPnlOrderUC"></add>

    <add key="OrderNumberControl" value="hlOrderDetail"></add>

    <VenderInfo_STY>
      <add key="BG" value="DULCE CAROLA"></add>
      <add key="BI" value="Fashion Blvd"></add>
      <add key="BJ" value="Fio Fio"></add>
      <add key="BK" value="Good time"></add>
      <add key="BO" value="JANET PARIS"></add>
      <add key="CB" value="ROSIO"></add>
      <add key="CE" value="TOPIA"></add>
      <add key="CI" value="NAMU"></add>
      <add key="CK" value="XTARAN"></add>
      <add key="CN" value="OLIVIA"></add>
      <add key="CN" value="Zinna"></add>
      <add key="CO" value="CAMISA"></add>
      <add key="CQ" value="CIEL"></add>
      <add key="CR" value="JUJUBE"></add>
      <add key="CW" value="PARADIS MISS"></add>
      <add key="DA" value="B SHARP"></add>
      <add key="DB" value="O-SHER"></add>
      <add key="DD" value="RUNWAY"></add>
      <add key="DE" value="TCEC"></add>
      <add key="DF" value="TO WIN"></add>
      <add key="DG" value="CALS"></add>
      <add key="DH" value="CHERRY K"></add>
      <add key="DI" value="PROSPERO"></add>
      <add key="DJ" value="COII"></add>
      <add key="DN" value="GREEN APPLE"></add>
      <add key="DO" value="BUZZ"></add>
      <add key="DQ" value="NEBLINA"></add>
      <add key="DR" value="LOVE IN"></add>
      <add key="DS" value="CALLA"></add>
      <add key="DT" value="CHRISS AND CAROL"></add>
      <add key="GH" value="fiancee"></add>
      <add key="DU" value="COCO LOVE"></add>
      <add key="DV" value="SI SI "></add>
      <add key="DW" value="bon mere"></add>
      <add key="DX" value="freshmint"></add>
      <add key="DY" value="MILLIBON"></add>
      <add key="DZ" value="CELESTE"></add>
      <add key="EA" value="ALYSSA"></add>
      <add key="EB" value="TICTOC"></add>
      <add key="EC" value="A ELLEN"></add>
      <add key="ED" value="RED MANGO"></add>
      <add key="EF" value="DOREMI"></add>
      <add key="EH" value="LOT"></add>
      <add key="EI" value="POETRY"></add>
      <add key="EJ" value="ACTIVE"></add>
      <add key="EJ" value="BASIC HOUSE"></add>
      <add key="EK" value="BOZZOLO"></add>
      <add key="EL" value="LARA"></add>
      <add key="EM" value="LYT"></add>
      <add key="EO" value="NINE BIRD"></add>
      <add key="EP" value="LOVEY RACHEAL"></add>
      <add key="EQ" value="KING"></add>
      <add key="ER" value="DOROTHY"></add>
      <add key="ES" value="BENEFIT"></add>
      <add key="ET" value="ITALINO"></add>
      <add key="EU" value="CHERRY MELLOW"></add>
      <add key="EW" value="IN STYLE"></add>
      <add key="EY" value="MANITO"></add>
      <add key="FA" value="BE ENVIED"></add>
      <add key="FC" value="VISION"></add>
      <add key="FD" value="MATIE"></add>
      <add key="FE" value="DAY N NIGHT"></add>
      <add key="FF" value="BLUE SKETCH"></add>
      <add key="FG" value="SSONAGI"></add>
      <add key="FH" value="NARANKA"></add>
      <add key="FI" value="SACE"></add>
      <add key="FJ" value="WOW"></add>
      <add key="FK" value="PIXIE"></add>
      <add key="FL" value="HAK"></add>
      <add key="FM" value="LUMI"></add>
      <add key="FO" value="DEPRI"></add>
      <add key="FP" value="MAK"></add>
      <add key="FQ" value="MIND CODE"></add>
      <add key="FR" value="IBBY LIBBY"></add>
      <add key="FS" value="ITRO"></add>
      <add key="FT" value="BLVD"></add>
      <add key="FU" value="LULUMARI"></add>
      <add key="FV" value="L.LOVE"></add>
      <add key="FW" value="BANANA"></add>
      <add key="FX" value="DIOSA"></add>
      <add key="FY" value="2HEARTS"></add>
      <add key="FZ" value="EMERALD"></add>
      <add key="GA" value="RACHEL KATE"></add>
      <add key="GB" value="SAN JOY"></add>
      <add key="GC" value="TYCHE"></add>
      <add key="GD" value="ENTRO"></add>
      <add key="GE" value="PEACH"></add>
      <add key="GF" value="TEA N CUP"></add>
      <add key="GG" value="HWA"></add>
      <add key="GI" value="UNIT(ID)"></add>
      <add key="GJ" value="TABOM-"></add>
      <add key="GK" value="SI STYLE"></add>
      <add key="GL" value="ANNABELLE"></add>
      <add key="GM" value="ICU"></add>
      <add key="GN" value="AVAILABLE"></add>
      <add key="GO" value="NOBLE"></add>
      <add key="GP" value="LESHOP"></add>
      <add key="GQ" value="KYS"></add>
      <add key="GR" value="MILKY WAY"></add>
      <add key="GS" value="AGAIN"></add>
      <add key="GT" value="ANNIANNA"></add>
      <add key="GU" value="JEALOUSE TOMATO"></add>
      <add key="GV" value="OVI"></add>
      <add key="GW" value="EKKLESIA"></add>
      <add key="GX" value="POP"></add>
      <add key="GY" value="BLUE S LA"></add>
      <add key="GZ" value="FINAL TOUCH"></add>
      <add key="HA" value="VALENTINE"></add>
      <add key="HB" value="AUDITION"></add>
      <add key="HC" value="EM"></add>
      <add key="HD" value="THE CLASSIC"></add>
      <add key="HE" value="TOVIA"></add>
      <add key="HF" value="ORANGE CARAMEL"></add>
      <add key="HG" value="EVELIE"></add>
      <add key="HH" value="HELLO MISS"></add>
      <add key="HI" value="I JOAH"></add>
      <add key="HJ" value="DE COLOR"></add>
      <add key="HK" value="PASARELLA"></add>
      <add key="HL" value="DE LUXE"></add>
      <add key="HM" value="YOYO5"></add>
      <add key="HN" value="BOA"></add>
      <add key="HO" value="PRONTO"></add>
      <add key="HP" value="MI IN"></add>
      <add key="HQ" value="WISHLIST"></add>
      <add key="HR" value="INTRO"></add>
      <add key="HS" value="NEW MODE"></add>
      <add key="HT" value="ASSA"></add>
      <add key="HU" value="MARIN BLU"></add>
      <add key="HV" value="MONTEAU"></add>
      <add key="HW" value="PRETTY GOOD"></add>
      <add key="HX" value="SUGAR MINT"></add>
      <add key="HY" value="EYE CANDY"></add>
      <add key="HZ" value="SWEET RAIN"></add>
      <add key="OA" value="TEEN BELL"></add>
      <add key="OB" value="VIVACE"></add>
      <add key="OC" value="VIZIO"></add>
      <add key="OD" value="paLacio"></add>
      <add key="OE" value="CY"></add>
      <add key="OG" value="A3 DESIGN"></add>
      <add key="OM" value="EVENT"></add>
      <add key="ON" value="LOVE TREE"></add>
      <add key="OP" value="OBOE"></add>
      <add key="OQ" value="ON 12TH"></add>
      <add key="OR" value="TOSKA"></add>
      <add key="OS" value="HEART N HIPS"></add>
      <add key="OT" value="36.5"></add>
      <add key="OU" value="sweet clare"></add>
      <add key="OV" value="RK7BRAND"></add>
      <add key="OW" value="POEMA"></add>
      <add key="OX" value="JULIA"></add>
      <add key="OY" value="promesa"></add>
      <add key="OZ" value="BASIL LOLA"></add>
      <add key="PA" value="NELLA FANTASIA"></add>
      <add key="PF" value="BE COOL"></add>
      <add key="PF" value="BAJEE COLLECTION"></add>
      <add key="PC" value="KATE"></add>
      <add key="SK" value="STOCK"></add>
      <add key="PD" value="APRIL"></add>
      <add key="PE" value="MICHELLE"></add>
      <add key="PH" value="GOOYOO"></add>
      <add key="PI" value="IRIS"></add>
      <add key="PB" value="CHERISH"></add>
      <add key="PG" value="evermour"></add>
      <add key="PJ" value="WASABI MINT"></add>
      <add key="BI" value="TRENDLOGY"></add>
      <add key="PK" value="SO COOL"></add>
      <add key="PK" value="RENEEC"></add>
      <add key="PL" value="SARAH LA"></add>
      <add key="PM" value="IVAMOSS"></add>
      <add key="PP" value="PRESTINE"></add>
      <add key="PQ" value="BRENDA'S"></add>
      <add key="PR" value="BELLAMIE"></add>
      <add key="PO" value="LOVE REPUBLIC"></add>
      <add key="PS" value="ROLY POLY"></add>
      <add key="PT" value="SI AVANCE"></add>
      <add key="PV" value="RENEE C"></add>
      <add key="PW" value="BTTER B"></add>
      <add key="PX" value="CREPAS"></add>
      <add key="PY" value="HUG"></add>
      <add key="PZ" value="TOP CHIC"></add>
      <add key="QB" value="S LINE"></add>
      <add key="QA" value="JELLA COUTURE"></add>
      <add key="QC" value="SUEDE"></add>
      <add key="QD" value="DnT"></add>
      <add key="QE" value="POINT"></add>
      <add key="QF" value="AUDREY ANN"></add>
      <add key="QG" value="BLUE MINT"></add>
      <add key="QH" value="SHELLY"></add>
      <add key="QI" value="BOTTOM SHOP"></add>
      <add key="QJ" value="R.ROUGE"></add>
      <add key="QK" value="ZINGA"></add>
      <add key="QL" value="PRIMI"></add>
      <add key="QM" value="ESTAM"></add>
      <add key="QN" value="SAGE"></add>
      <add key="QO" value="KORI"></add>
      <add key="QP" value="PEPPERMINT"></add>
      <add key="QR" value="HOMMEAGE"></add>
      <add key="QS" value="UPTOWN"></add>
      <add key="QT" value="MORNING APPLE"></add>
      <add key="QU" value="ALYTHEA"></add>
      <add key="QV" value="VERTY"></add>
      <add key="QX" value="MINX"></add>
      <add key="QY" value="LOVE RICHIE"></add>
      <add key="QZ" value="LOVE LETTER"></add>
      <add key="RA" value="K TOO"></add>
      <add key="RB" value="MILLION BULLPUP"></add>
      <add key="RC" value="MONARDA"></add>
      <add key="RD" value="MY STORY"></add>
      <add key="RE" value="DOUBLE ZERO"></add>
      <add key="RF" value="JOLIE"></add>
      <add key="RG" value="LA BANGA"></add>
      <add key="RH" value="FLYING TOMATO"></add>
      <add key="RI" value="TEAN N ROSE"></add>
      <add key="RJ" value="GREEN PEA"></add>
      <add key="RK" value="VIBRANT"></add>
      <add key="RL" value="STYLE RACK"></add>
      <add key="RM" value="SWOON"></add>
      <add key="RN" value="AHTO"></add>
      <add key="RO" value="MOA"></add>
      <add key="RP" value="TWENTY TWO"></add>
      <add key="RQ" value="UNDER SKIES"></add>
      <add key="RR" value="HAVE"></add>
      <add key="RS" value="ENTI"></add>
      <add key="RT" value="SUPER B"></add>
      <add key="SK" value="STOCK"></add>
      <add key="RU" value="BONAMI"></add>
      <add key="RV" value="DRESSCODE"></add>
      <add key="RW" value="MONAMI"></add>
      <add key="RX" value="TRUE LIGHT"></add>
      <add key="RY" value="DRESSCODE LA"></add>
      <add key="RZ" value="AGGIE"></add>
      <add key="SA" value="VIJO"></add>
      <add key="SB" value="DE ENJOY"></add>
      <add key="SC" value="E2 CLOTHING"></add>
      <add key="SD" value="CATCH ME"></add>
      <add key="SE" value="GIBIU"></add>
      <add key="SF" value="CANDY ROSE"></add>
      <add key="SG" value="ALWAYS ME"></add>
      <add key="SH" value="SUN N MOON"></add>
      <add key="SI" value="CHOCOLATE"></add>
      <add key="SJ" value="IT CLOSET"></add>
      <add key="SL" value="BEKKA D"></add>
      <add key="SK" value="STOCK"></add>
      <add key="SY" value="CISINO"></add>
    </VenderInfo_STY>
    <VenderInfo_AMC>
      <add key="HS" value="2HEARTS"></add>
      <add key="AE" value="A ELLEN"></add>
      <add key="AT" value="ACTIVE"></add>
      <add key="AG" value="AGAIN"></add>
      <add key="AL" value="ALYSSA"></add>
      <add key="AB" value="ANNABELLE"></add>
      <add key="AN" value="ANNIANNA"></add>
      <add key="AS" value="ASSA"></add>
      <add key="AU" value="AUDITION"></add>
      <add key="AV" value="AVAILABLE"></add>
      <add key="BP" value="B SHARP"></add>
      <add key="BA" value="BANANA"></add>
      <add key="BH" value="BASIC HOUSE"></add>
      <add key="BN" value="BE ENVIED"></add>
      <add key="BE" value="BENEFIT"></add>
      <add key="BU" value="BLUE S LA"></add>
      <add key="BS" value="BLUE SKETCH"></add>
      <add key="BD" value="BLVD"></add>
      <add key="BM" value="bon mere"></add>
      <add key="BO" value="BOZZOLO"></add>
      <add key="CS" value="CALS"></add>
      <add key="CA" value="CAMISA"></add>
      <add key="CE" value="CELESTE"></add>
      <add key="CK" value="CHERRY K"></add>
      <add key="CM" value="CHERRY MELLOW"></add>
      <add key="CH" value="CHRISS AND CAROL"></add>
      <add key="CL" value="CIEL"></add>
      <add key="CI" value="COII"></add>
      <add key="CY" value="CY"></add>
      <add key="DN" value="DAY N NIGHT"></add>
      <add key="DC" value="DE COLOR "></add>
      <add key="DL" value="DE LUXE"></add>
      <add key="DE" value="DEPRI"></add>
      <add key="DI" value="DIOSA"></add>
      <add key="DO" value="DOREMI"></add>
      <add key="DR" value="DOROTHY"></add>
      <add key="DC" value="DULCE CAROLA"></add>
      <add key="EK" value="EKKLESIA"></add>
      <add key="EM" value="EM"></add>
      <add key="EM" value="EMERALD"></add>
      <add key="ET" value="ENTRO"></add>
      <add key="EV" value="EVELIE"></add>
      <add key="EY" value="EYE CANDY"></add>
      <add key="FB" value="Fashion Blvd"></add>
      <add key="FE" value="FIANCEE"></add>
      <add key="FT" value="FINAL TOUCH"></add>
      <add key="FI" value="Fio Fio"></add>
      <add key="GT" value="Good time"></add>
      <add key="GA" value="GREEN APPLE"></add>
      <add key="H" value="HAK"></add>
      <add key="HM" value="HELLO MISS"></add>
      <add key="HW" value="HWA"></add>
      <add key="IJ" value="I JOAH"></add>
      <add key="IB" value="IBBY LIBBY"></add>
      <add key="IS" value="IN STYLE"></add>
      <add key="IO" value="INTRO"></add>
      <add key="IT" value="ITALINO"></add>
      <add key="IR" value="ITRO"></add>
      <add key="JP" value="JANET PARIS"></add>
      <add key="JF" value="JCFIT"></add>
      <add key="JU" value="JUJUBE"></add>
      <add key="JA" value="JULIA"></add>
      <add key="KL" value="KYS LOVE"></add>
      <add key="LL" value="L.LOVE"></add>
      <add key="LR" value="LARA"></add>
      <add key="LE" value="LESHOP"></add>
      <add key="LT" value="LOT"></add>
      <add key="LI" value="LOVE IN"></add>
      <add key="LV" value="LOVE TREE"></add>
      <add key="LR" value="LOVEY RACHEAL"></add>
      <add key="LU" value="LULUMARI"></add>
      <add key="LM" value="LUMI"></add>
      <add key="LY" value="LYT"></add>
      <add key="MK" value="MAK"></add>
      <add key="MA" value="MANITO"></add>
      <add key="MU" value="MARIN BLU"></add>
      <add key="MA" value="MATIE"></add>
      <add key="MI" value="MI IN"></add>
      <add key="MB" value="MILLIBON"></add>
      <add key="MC" value="MIND CODE"></add>
      <add key="MN" value="MONAMI"></add>
      <add key="MO" value="MONTEAU"></add>
      <add key="NR" value="NARANKA"></add>
      <add key="NE" value="NEBLINA"></add>
      <add key="NW" value="NEW MODE"></add>
      <add key="NB" value="NINE BIRD"></add>
      <add key="NU" value="NOBLE"></add>
      <add key="OB" value="OBOE"></add>
      <add key="OL" value="OLIVIA"></add>
      <add key="OT" value="ON TWELFTH"></add>
      <add key="OC" value="ORANGE CARAMEL"></add>
      <add key="OS" value="O-SHER"></add>
      <add key="PC" value="PALACIO"></add>
      <add key="PM" value="PARADIS MISS"></add>
      <add key="PA" value="PASARELLA"></add>
      <add key="PC" value="PEACH"></add>
      <add key="PX" value="PIXIE"></add>
      <add key="PO" value="POP"></add>
      <add key="PT" value="PRONTO"></add>
      <add key="PR" value="PROSPERO"></add>
      <add key="RK" value="RACHEL KATE"></add>
      <add key="RM" value="RED MANGO"></add>
      <add key="RS" value="ROSIO"></add>
      <add key="SC" value="SACE"></add>
      <add key="SJ" value="SAN JOY"></add>
      <add key="SI" value="SI SI"></add>
      <add key="ST" value="SI STYLE"></add>
      <add key="SO" value="SSONAGI"></add>
      <add key="SM" value="SUGAR MINT"></add>
      <add key="SR" value="SWEET RAIN "></add>
      <add key="TB" value="TABOM"></add>
      <add key="TE" value="TEA N CUP"></add>
      <add key="TL" value="TEEN BELL"></add>
      <add key="CC" value="THE CLASSIC"></add>
      <add key="TC" value="TICTOC"></add>
      <add key="TO" value="TO WIN"></add>
      <add key="TP" value="TOPIA"></add>
      <add key="TK" value="TOSKA"></add>
      <add key="TV" value="TOVIA"></add>
      <add key="TA" value="TRAC"></add>
      <add key="TY" value="TYCHE"></add>
      <add key="UR" value="URBAN MIX/NAMU"></add>
      <add key="VA" value="VALENTINE"></add>
      <add key="VI" value="VISION"></add>
      <add key="VI" value="VIVACE"></add>
      <add key="VZ" value="VIZIO"></add>
      <add key="WI" value="WISHLIST"></add>
      <add key="TR" value="XTARAN"></add>
      <add key="YO" value="YOYO5"></add>
      <add key="MW" value="MILKY WAY"></add>
      <add key="OT" value="ON 12TH"></add>
      <add key="BO" value="BOA"></add>
      <add key="TM" value="TOMATO"></add>
      <add key="AD" value="A3 DESIGN"></add>
      <add key="EE" value="EVENT"></add>
      <add key="HH" value="HEART N HIPS"></add>
      <add key="TF" value="36.5"></add>
      <add key="SL" value="sweet clare"></add>
      <add key="PG" value="PRETTY GOOD"></add>
      <add key="PE" value="POEMA"></add>
      <add key="RB" value="RK7BRAND"></add>
      <add key="ps" value="promesa"></add>
      <add key="BL" value="BASIL LOLA"></add>
      <add key="NF" value="NELLA FANTASIA"></add>
      <add key="BJ" value="BAJEE COLLECTION"></add>
      <add key="BJ" value="BE COOL"></add>
      <add key="AP" value="APRIL"></add>
      <add key="KT" value="KATE"></add>
      <add key="mc" value="MICHELLE"></add>
      <add key="CO" value="COCO LOVE"></add>
      <add key="GY" value="GOOYOO"></add>
      <add key="II" value="IRIS"></add>
      <add key="CR" value="CHERISH"></add>
      <add key="ER" value="evermour"></add>
      <add key="WM" value="WASABI MINT"></add>
      <add key="FB" value="TRENDLOGY"></add>
      <add key="RN" value="SO COOL"></add>
      <add key="RN" value="RENEEC"></add>
      <add key="SA" value="SARAH LA"></add>
      <add key="bz" value="BUZZ"></add>
      <add key="IV" value="IVAMOSS"></add>
      <add key="PN" value="PRESTINE"></add>
      <add key="BR" value="BRENDA'S"></add>
      <add key="BQ" value="BELLAMIE"></add>
      <add key="PR" value="LOVE REPUBLIC"></add>
      <add key="RP" value="ROLY POLY"></add>
      <add key="SV" value="SI AVANCE"></add>
      <add key="RC" value="RENEE C"></add>
      <add key="BB" value="BETTER B"></add>
      <add key="CP" value="CREPAS"></add>
      <add key="HU" value="HUG"></add>
      <add key="TM" value="JEALOUSE TOMATO"></add>
      <add key="TH" value="TOP CHIC"></add>
      <add key="SE" value="S LINE"></add>
      <add key="JC" value="JELLA COUTURE"></add>
      <add key="SU" value="SUEDE"></add>
      <add key="DT" value="DnT"></add>
      <add key="PI" value="POINT"></add>
      <add key="AA" value="AUDREY ANN"></add>
      <add key="BT" value="BLUE MINT"></add>
      <add key="SH" value="SHELLY"></add>
      <add key="BH" value="BOTTOM SHOP"></add>
      <add key="RR" value="R.ROUGE"></add>
      <add key="ZI" value="ZINGA"></add>
      <add key="PM" value="PRIMI"></add>
      <add key="ES" value="ESTAM"></add>
      <add key="SG" value="SAGE"></add>
      <add key="KI" value="KORI"></add>
      <add key="PP" value="PEPPERMINT"></add>
      <add key="HA" value="HOMMEAGE"></add>
      <add key="UN" value="UPTOWN"></add>
      <add key="ML" value="MORNING APPLE"></add>
      <add key="AH" value="ALYTHEA"></add>
      <add key="VE" value="VERTY"></add>
      <add key="MX" value="MINX"></add>
      <add key="LO" value="LOVE RICHIE"></add>
      <add key="TT" value="LOVE LETTER"></add>
      <add key="KO" value="K TOO"></add>
      <add key="MP" value="MILLION BULLPUP"></add>
      <add key="MD" value="MONARDA"></add>
      <add key="MY" value="MY STORY"></add>
      <add key="DZ" value="DOUBLE ZERO"></add>
      <add key="JL" value="JOLIE"></add>
      <add key="LB" value="LA BANGA"></add>
      <add key="FY" value="FLYING TOMATO"></add>
      <add key="OI" value="OVI"></add>
      <add key="TN" value="TEAN N ROSE"></add>
      <add key="GP" value="GREEN PEA"></add>
      <add key="VT" value="VIBRANT"></add>
      <add key="SY" value="STYLE RACK"></add>
      <add key="SW" value="SWOON"></add>
      <add key="AT" value="AHTO"></add>
      <add key="OA" value="MOA"></add>
      <add key="TI" value="ENTI"></add>
      <add key="TW" value="TWENTY TWO"></add>
      <add key="SB" value="SUPER B"></add>
      <add key="SK" value="STOCK"></add>
      <add key="BI" value="BONAMI"></add>
      <add key="DS" value="DRESSCODE"></add>
      <add key="DL" value="DRESSCODE LA"></add>
      <add key="AI" value="AGGIE"></add>
      <add key="TG" value="TRUE LIGHT"></add>
      <add key="VJ" value="VIJIO"></add>
      <add key="DY" value="DE ENJOY"></add>
      <add key="EC" value="E2 CLOTHING"></add>
      <add key="CE" value="CATCH ME"></add>
      <add key="GU" value="GIBIU"></add>
      <add key="CN" value="CANDY ROSE"></add>
      <add key="AM" value="ALWAYS ME"></add>
      <add key="SM" value="SUN N MOON"></add>
      <add key="CL" value="CHOCOLATE"></add>
      <add key="IC" value="IT CLOSET"></add>
      <add key="BD" value="BELLA D"></add>

    </VenderInfo_AMC>
    <VenderInfo_RAY>
      <add key="AA" value="FIOFIO"></add>
      <add key="AB" value="GROOVY"></add>
      <add key="AC" value="MINGLE"></add>
      <add key="AD" value="PRONTO"></add>
      <add key="AE" value="RED MANGO"></add>
      <add key="AF" value="ROSIO"></add>
      <add key="AG" value="TOPIA"></add>
      <add key="AH" value="U+ME"></add>
      <add key="AI" value="UP TOWN"></add>
      <add key="AJ" value="VIAVAI"></add>
      <add key="AK" value="XTARAN"></add>
      <add key="AL" value="AKA"></add>
      <add key="AM" value="SHARP"></add>
      <add key="AN" value="CAMISA"></add>
      <add key="AO" value="EKLAH"></add>
      <add key="AQ" value="TWIN"></add>
      <add key="AR" value="ZINNA"></add>
      <add key="AR" value="OLIVIA"></add>
      <add key="AS" value="I CANDIE"></add>
      <add key="AT" value="ASSA"></add>
      <add key="AU" value="HERA"></add>
      <add key="AV" value="MILLORE"></add>
      <add key="AW" value="Santoori"></add>
      <add key="AX" value="YOO N ME"></add>
      <add key="AY" value="GOOD TIME"></add>
      <add key="AZ" value="LOVE T"></add>
      <add key="BA" value="ROSA"></add>
      <add key="BC" value="TRECIA"></add>
      <add key="BD" value="CIEL"></add>
      <add key="BE" value="DuLCE CAROLA"></add>
      <add key="BF" value="FASHIO BLVD"></add>
      <add key="BF" value="FASHIONBLVD"></add>
      <add key="BG" value="JANET PARIS"></add>
      <add key="BH" value="ALWAYS"></add>
      <add key="BI" value="MASHMALLOW"></add>
      <add key="BJ" value="LYDIA K"></add>
      <add key="BK" value="PARIDS MISS"></add>
      <add key="BL" value="KESSLEY"></add>
      <add key="BM" value="POP"></add>
      <add key="BN" value="TO WIN"></add>
      <add key="BO" value="JUJUBE"></add>
      <add key="BP" value="B SHARP"></add>
      <add key="BQ" value="O-SHER"></add>
      <add key="BS" value="KAIRA"></add>
      <add key="BT" value="RUNWAY"></add>
      <add key="BU" value="TCEC"></add>
      <add key="BV" value="CALS"></add>
      <add key="BW" value="CHERRY K"></add>
      <add key="BX" value="PROSPERO"></add>
      <add key="BY" value="coii"></add>
      <add key="BZ" value="PEACH N CREAM"></add>
      <add key="CA" value="BUZZ"></add>
      <add key="CB" value="GREEN APLLE"></add>
      <add key="CC" value="LOVE IN"></add>
      <add key="CE" value="URBAN MIX"></add>
      <add key="CF" value="NEBLINA"></add>
      <add key="CG" value="CALLA"></add>
      <add key="CI" value="COCO LOVE"></add>
      <add key="CJ" value="SI SI"></add>
      <add key="CK" value="BON MERE"></add>
      <add key="CL" value="freshmint"></add>
      <add key="CM" value="MILLIBON"></add>
      <add key="CN" value="ALYSSA"></add>
      <add key="CO" value="CELESTE"></add>
      <add key="CP" value="TICTOC"></add>
      <add key="CQ" value="SURE"></add>
      <add key="CR" value="DOREMI"></add>
      <add key="CT" value="A ELLEN"></add>
      <add key="CU" value="LOT"></add>
      <add key="CV" value="LOVELY RACHEAL"></add>
      <add key="CW" value="POETRY"></add>
      <add key="CX" value="BASIC HOUSE"></add>
      <add key="DA" value="LYT"></add>
      <add key="DB" value="DOROTHY"></add>
      <add key="DC" value="NINE BIRD"></add>
      <add key="DD" value="BENEFIT"></add>
      <add key="DE" value="ITALIA GOGO"></add>
      <add key="DF" value="SUEDE"></add>
      <add key="DG" value="KING"></add>
      <add key="DH" value="IN STYLE"></add>
      <add key="DJ" value="MANITO"></add>
      <add key="DL" value="MAITE"></add>
      <add key="DO" value="DAY n NIGHT"></add>
      <add key="DP" value="BLUE SKETCH"></add>
      <add key="DQ" value="SSONAGI"></add>
      <add key="DT" value="NARANKA"></add>
      <add key="DV" value="SACE"></add>
      <add key="EA" value="PIXIE"></add>
      <add key="EB" value="BE ENVIED"></add>
      <add key="FA" value="ACTIVE BASIC"></add>
      <add key="FB" value="LUMI"></add>
      <add key="FC" value="HAK"></add>
      <add key="FD" value="DEPRI"></add>
      <add key="FE" value="MONAMI"></add>
      <add key="FF" value="MAK"></add>
      <add key="FG" value="CESTTOI"></add>
      <add key="FH" value="MAIN CODE"></add>
      <add key="FI" value="IBBY LIBBY"></add>
      <add key="FJ" value="itro"></add>
      <add key="FK" value="BLVD"></add>
      <add key="FL" value="LULUMARI"></add>
      <add key="FM" value="L.LOVE"></add>
      <add key="FN" value="BANANA"></add>
      <add key="FO" value="DIOSA"></add>
      <add key="FP" value="2HEARTS"></add>
      <add key="FQ" value="EMERALD"></add>
      <add key="FR" value="RACHEL KATE"></add>
      <add key="FS" value="SAN JOY"></add>
      <add key="FT" value="TYCHE"></add>
      <add key="FU" value="ENTRO"></add>
      <add key="FV" value="PEACH"></add>
      <add key="FW" value="TEA N CUP"></add>
      <add key="FX" value="HWA"></add>
      <add key="FY" value="FIANCEE"></add>
      <add key="FZ" value="ID"></add>
      <add key="GA" value="TABOM"></add>
      <add key="GB" value="SI STYLE"></add>
      <add key="GC" value="ANABELLE"></add>
      <add key="GD" value="ICU"></add>
      <add key="GE" value="AVAILABLE"></add>
      <add key="GF" value="NOBLE"></add>
      <add key="GG" value="LESHOP"></add>
      <add key="GH" value="AGAIN"></add>
      <add key="GI" value="ANNIANNA"></add>
      <add key="GJ" value="TOMATO"></add>
      <add key="GK" value="OVI"></add>
      <add key="GL" value="EKKLESIA"></add>
      <add key="GM" value="BLUE S LA"></add>
      <add key="GN" value="FINAL TOUCH"></add>
      <add key="GO" value="VALENTINE"></add>
      <add key="GP" value="AUDITION"></add>
      <add key="GQ" value=" EM"></add>
      <add key="GR" value="THE CLASSIC"></add>
      <add key="GS" value="TOVIA"></add>
      <add key="GT" value="ORANGE CARAMEL"></add>
      <add key="GU" value="EVELIE"></add>
      <add key="GX" value="DE COLOR"></add>
      <add key="GY" value="PASARELLA"></add>
      <add key="GZ" value="DE LUXE"></add>
      <add key="HA" value="MILKY WAY"></add>
      <add key="HB" value="YOYO5"></add>
      <add key="HC" value="BOA"></add>
      <add key="HD" value="MI IN"></add>
      <add key="HE" value="PRONTO"></add>
      <add key="HF" value="WISHLIST"></add>
      <add key="HG" value="INTRO"></add>
      <add key="HH" value="NEW MODE"></add>
      <add key="HI" value="ASSA"></add>
      <add key="HJ" value="MARIN BLU"></add>
      <add key="HK" value="MONTEAU"></add>
      <add key="HL" value="PALACIO"></add>
      <add key="HM" value="SUGAR MINT"></add>
      <add key="HN" value="EYE CANDY"></add>
      <add key="HO" value="SWEET RAIN "></add>
      <add key="HP" value="TEEN BELL"></add>
      <add key="HQ" value="VIVACE"></add>
      <add key="HR" value="VIZIO"></add>
      <add key="HS" value="PARACIO"></add>
      <add key="HT" value="PRETTY GOOD"></add>
      <add key="HV" value="CY"></add>
      <add key="HW" value="JC FIT"></add>
      <add key="HX" value="EVENT"></add>
      <add key="HZ" value="LOVE TREE"></add>
      <add key="IA" value="OBOE"></add>
      <add key="IB" value="ON 12TH"></add>
      <add key="IC" value="A3 DESIGN"></add>
      <add key="ID" value="TOSKA"></add>
      <add key="IE" value="HEART N HIPS"></add>
      <add key="IF" value="36.5"></add>
      <add key="IG" value="sweet clare"></add>
      <add key="IH" value="POEMA"></add>
      <add key="II" value="RK7BRAND"></add>
      <add key="IJ" value="JULIA"></add>
      <add key="ik" value="promesa"></add>
      <add key="IO" value="BASIL LOLA"></add>
      <add key="IP" value="NELLA FANTASIA"></add>
      <add key="IU" value="BE COOL"></add>
      <add key="IU" value="BAJEE COLLECTION"></add>
      <add key="IS" value="APRIL"></add>
      <add key="IR" value="KATE"></add>
      <add key="IT" value="MICHELLE"></add>
      <add key="IW" value="GOOYOO"></add>
      <add key="IX" value="IRIS"></add>
      <add key="IQ" value="CHERISH"></add>
      <add key="IV" value="evermour"></add>
      <add key="IY" value="WASABI MINT"></add>
      <add key="BF" value="TRENDLOGY"></add>
      <add key="IZ" value="SO COOL"></add>
      <add key="IZ" value="RENEEC"></add>
      <add key="JA" value="SARAH LA"></add>
      <add key="JB" value="IVAMOSS"></add>
      <add key="JC" value="PRESTINE"></add>
      <add key="JD" value="BRENDA'S"></add>
      <add key="JF" value="BELLAMIE"></add>
      <add key="JH" value="LOVE REPUBLIC"></add>
      <add key="JI" value="ROLY POLY"></add>
      <add key="JJ" value="SI AVANCE"></add>
      <add key="JL" value="RENEE C"></add>
      <add key="JM" value="BETTER B"></add>
      <add key="JN" value="CREPAS"></add>
      <add key="JO" value="HUG"></add>
      <add key="JP" value="JEALOUSE TOMATO"></add>
      <add key="JQ" value="TOP CHIC"></add>
      <add key="JS" value="S LINE"></add>
      <add key="JR" value="JELLA COUTURE"></add>
      <add key="DF" value="SUEDE"></add>
      <add key="JU" value="DnT"></add>
      <add key="JV" value="POINT"></add>
      <add key="JW" value="AUDREY ANN"></add>
      <add key="JX" value="BLUE MINT"></add>
      <add key="JY" value="SHELLY"></add>
      <add key="JZ" value="BOTTOM SHOP"></add>
      <add key="KA" value="R.ROUGE"></add>
      <add key="KB" value="ZINGA"></add>
      <add key="KC" value="PRIMI"></add>
      <add key="KD" value="ESTAM"></add>
      <add key="KE" value="SAGE"></add>
      <add key="KF" value="KORI"></add>
      <add key="KG" value="PEPPERMINT"></add>
      <add key="KH" value="HOMMEAGE"></add>
      <add key="KI" value="UPTOWN"></add>
      <add key="KJ" value="MORNING APPLE"></add>
      <add key="KK" value="ALYTHEA"></add>
      <add key="KL" value="VERTY"></add>
      <add key="KO" value="MINX"></add>
      <add key="KP" value="LOVE RICHIE"></add>
      <add key="KQ" value="LOVE LETTER"></add>
      <add key="KR" value="K TOO"></add>
      <add key="KS" value="MILLION BULLPUP"></add>
      <add key="KT" value="MONARDA"></add>
      <add key="KU" value="MY STORY"></add>
      <add key="KV" value="DOUBLE ZERO"></add>
      <add key="KW" value="JOLIE"></add>
      <add key="KX" value="LA BANGA"></add>
      <add key="KY" value="FLING TOMATO "></add>
      <add key="KZ" value="TEAN N ROSE"></add>
      <add key="LA" value="GREEN PEA"></add>
      <add key="LB" value="VIBRANT"></add>
      <add key="LC" value="HELLO MISS"></add>
      <add key="LD" value="STYLE RACK"></add>
      <add key="LE" value="SWOON"></add>
      <add key="LF" value="AHTO"></add>
      <add key="LG" value="MOA"></add>
      <add key="LH" value="I JOAH"></add>
      <add key="LI" value="TWENTY TWO"></add>
      <add key="LJ" value="UNDER SKIES"></add>
      <add key="LL" value="ENTI"></add>
      <add key="LM" value="SUPER B"></add>
      <add key="SK" value="STOCK"></add>
      <add key="LN" value="BONAMI"></add>
      <add key="LO" value="DRESSCODE"></add>
      <add key="LQ" value="AGGIE"></add>
      <add key="LR" value="TRUE LIGHT"></add>
      <add key="LS" value="VIJIO"></add>
      <add key="LT" value="DE ENJOY"></add>
      <add key="LU" value="E2 CLOTHING"></add>
      <add key="LV" value="CATCH ME"></add>
      <add key="LW" value="GIBIU"></add>
      <add key="LX" value="CANDY ROSE"></add>
      <add key="LY" value="ALWAYS ME"></add>
      <add key="LZ" value="SUN N MOON"></add>
      <add key="MA" value="CHOCOLATE"></add>
      <add key="MB" value="IT CLOSET"></add>
      <add key="MC" value="BELLA D"></add>


    </VenderInfo_RAY>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
